<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>支付</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/payment/pay.css">
</head>
<body class="header footer">

    <div class="container">
        <div class="payMode">
            <p class="payModeTitle">选择付款方式</p>
            <p class="payModeFlow"><span>交易号：</span><span>201801401058420655461</span></p>
        </div>
        <div class="mode">支付方式</div>
        <ul class="modeUl cf">
            <li class="aliPay fl active"><a href="javascript:;"><i></i><span>支付宝</span></a></li>
            <li class="weChatPay fl"><a href="javascript:;"><i></i><span>微信支付</span></a></li>
            <li class="unionPay fl"><a href="javascript:;"><i></i><span>中国银联</span></a></li>
        </ul>
        <div class="payBtn"><a class="immediatePay" href="javascript:;">立即支付</a></div>


    </div>


    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/payment/pay.js"></script>
</body>
</html>