/*    coupon     */
.coupon{margin-top: 100px;cursor: pointer;}
.coupon,.coupon img{width: 100%;height: 200px;}

/*    commonTit     */
.commonTit{width: 100%;height: 100px;line-height: 100px;font-size: 14px;color: #333;}
.commonTit .titName{font-size: 24px;}
.commonTit .titMore{margin-left:15px;}
.commonTit .interval{margin: 0 5px;}

/*    recommend    */
.recommendBoxWrap .commonCon{width: 110%;}
.subRecommendBox{width: 380px;margin-right: 30px;}
.recommendType{position: relative;}
.recommendType,.recommendType img{width: 100%;height: 380px;outline: solid 1px #dddddd;  outline-offset: -1px;}
.recommendType img{background: #F4F4F4;}
.recommendType .triangle{position:absolute;bottom:-1px;left:50%;display: block;width: 30px;height: 15px;margin-left:-15px;background: url(../../Image/index/tranagle.png) no-repeat;}
.recommendGoodsBox{border:1px solid #DFDFDF;border-top:none;}
.subRecommendGoods{width: 33.3%;}
.subRecommendGoods .reGoodsImg{width: 80px;height:80px;margin:20px 24px;background: #F4F4F4;border:1px solid #F4F4F4;}
.reGoodsName{width:86%;height: 30px;margin:-10px 15px;line-height: 30px;text-align: center;}
.reGoodsPrice,.classifyPrice{width: 100%;height: 30px;line-height: 30px;text-align: center;color: #FF0101;}

/*    subClassify    */
.classifyBoxWrap{margin-bottom: 100px;}
.classifyUL{width:300%;height: 370px;}
.subClassifyBox{margin-right: 21px;}
.subClassifyBoxWrap .slide-box{overflow: hidden;width:100%;height:370px;margin-top:30px;}
.classifyBanner,.classifyBanner img{width: 100%;height:400px;}
.classifyImgBox{width: 240px;height: 240px;padding:22px 22px;background: #F4F4F4;}
.classifyImgBox img{display:block;width:240px;height: 240px;background: #FFF;}
.classifyName{width: 90%;height: 30px;margin:10px auto 0 auto;line-height: 30px;font-size: 20px;text-align:center;color: #333;}
.slide-btns .next,.slide-btns .prev{margin-top: -53px}

/*    fixFloor     */
.fixFloor{position: fixed;top:230px;left:200px;width: 74px;font-size:16px;color:#FFF;background: #333;}
.subFloor{width: 100%;font-size: 16px;cursor: pointer;}
.subFloor.active{margin-top:-1px;background: #F8981D;}
.subFloor.active .floorName{margin-top:-1px;border-bottom: none;}
.floorName{margin: 0 10px;padding:10px;border-bottom: 1px solid #FFF;}
.returnTopFloor{width:74px;cursor: pointer;}
.returnTopFloor.active{background: #333;}
.returnTopFloor .return{display: block;float:left;width:20px;height: 10px;margin:20px 30px 6px 27px;background: url(../../Image/common/return/return-white.png) no-repeat;background-size:20px 10px;}
.returnTopFloor.active .return{display: block;width:20px;height: 10px;background: url(../../Image/common/return/return-orange.png) no-repeat;background-size:20px 10px;}
.returnTopFloor p{width:100%;margin-bottom:24px;text-align: center;}
.returnTopFloor.active p{color:#F8981D;}
.topLine{display: block;width: 60px;height: 1px;margin:0 auto;border-top:1px solid #FFF;}
.topLine.hide{display: none;}
.returnTopFloor.active .topLine.hide{display: block;}

/*    alertBox     */
.getCouponAlert{color: #FF7B8F;cursor: pointer;}
.couponTit{height:60px;margin-top:30px;line-height:60px;font-size: 40px;text-align: center;}
.activeTimeBox{font-size:20px;text-align: center;}
.couponImgBox{width: 90%;margin: 30px auto;}
.couponImgBox img{float:left;width: 100px;margin: 0 9%;}
.couponRuleBox{width: 94%;margin: 0 auto;padding:10px 0;border-top:1px dotted #FF7B8F;}
.couponRuleBox p{height:30px;padding-left:10%;font-size: 14px;line-height: 30px;}

.bannerBtns .next{background: url(../../Image/shopClassify/nextIcon.png) no-repeat;background-size:40px 60px;right: 40px;position:absolute;top:50%;z-index: 4; width: 40px;height: 60px;cursor: pointer;}
.bannerBtns .prev{background: url(../../Image/shopClassify/prevIcon.png) no-repeat;background-size:40px 60px;left: 40px;position:absolute;top:50%;z-index: 4; width: 40px;height: 60px;cursor: pointer;}

