/* 账号安全内容 */
.rightContent{padding: 10px 40px 100px;border: 1px solid #f5f5f5;width: 876px;}
.current{width: 876px;height: 80px;line-height: 80px;border-bottom: 1px solid #f5f5f5;}
.currentText{width: 140px;font-size: 15px;color: #333;}
.currentNum{font-size: 15px;color: #333;}
.bindIcon{display: inline-block;vertical-align: middle;width: 20px;height: 20px;background: url(../../Image/personalCenter/accountSecurity/bindIcon.png) no-repeat center;background-size: 20px 20px;}
.bindText{vertical-align: middle;margin-left: 6px;}
.currentExplain{width: 580px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 15px;color: #999;}
.modifyBtn{font-size: 15px;color: #6699cc;}
.bindNum{display: inline-block;vertical-align: middle;width: 20px;height: 20px;background: url(../../Image/personalCenter/accountSecurity/unBindIcon.png) no-repeat center;background-size: 20px 20px;}















































