<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>设置</title>
    <link rel="stylesheet" href="../../Static/Css/common/sm.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/sm-extend.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/setUp/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../../Static/Image/common/logo/logo1.png" alt="">
        </div>
    </div>

    <!-- content -->
    <div class="page-group">
        <ul class="setUl">
            <li class="numSet"><a class="cf" href="accountSet.html"><span class="fl">账号设置</span><span class="icon icon-right fr"></span></a></li>
            <li class="addressManagement"><a class="cf" href="../../View/managementAddress/index.html"><span class="fl">地址管理</span><span class="icon icon-right fr"></span></a></li>
            <li class="commonProblem"><a class="cf" href="../../View/commonProblem/index.html"><span class="fl">常见问题</span><span class="icon icon-right fr"></span></a></li>
        </ul>
        <a class="signOut" href="javascript:;">退出登录</a>

    </div>

<script src="../../Static/Js/common/zepto.min.js"></script>
<script src="../../Static/Js/common/sm.min.js"></script>
<script src="../../Static/Js/common/sm-extend.min.js"></script>
<script src="../../Static/Js/common/public.js"></script>
</body>
</html>