<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>修改登录密码</title>
    <link rel="stylesheet" href="../../Static/Css/common/sm.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/sm-extend.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/setUp/modifyPwd.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../../Static/Image/common/logo/logo1.png" alt="">
        </div>
    </div>

    <!-- 下一步 -->
    <div class="page-group" id="next">
        <div class="verification cf"><input type="number" class="phone fl" maxlength="11" placeholder="请输入当前密码"></div>
        <a class="next" href="javascript:;">下一步</a>
    </div>

    <!-- 确定 -->
    <div class="page-group hide" id="sure">
        <div class="verification cf"><input type="number" class="phone fl" maxlength="11" placeholder="请输入修改密码"></div>
        <a class="next sure" href="javascript:;">确定</a>
    </div>

<script src="../../Static/Js/common/zepto.min.js"></script>
<script src="../../Static/Js/common/sm.min.js"></script>
<script src="../../Static/Js/common/sm-extend.min.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/setUp/modifyPwd.js"></script>
</body>
</html>