/* 投诉物流服务头部 */
.complaint{padding: 0 40px;margin: 40px 0;}
.cplHeader{height: 40px;line-height: 40px;padding: 0 20px;border: 1px solid #e8e8e8;font-size: 16px;color: #333;background: #f5f5f5;}

/* 投诉物流内容 */
.cplContent{padding: 20px 40px;}
.logisticsCar{padding: 20px 0;font-size: 14px;color: #333;border-bottom: 1px solid #e8e8e8;}
.logisticsCar i{width: 50px;height: 50px;background: url(../../Image/personalCenter/order/logisticsCar.png) no-repeat center;background-size: 50px 50px;}
.logisticsText{margin: 2px 0 0 20px;}
.logisticsText p{margin: 2px 0;}
.oddNum{color: #999;}

/* 投诉物流问题 */
.cplProblem{padding: 20px 70px;}
.cplContent{border: 1px solid #e8e8e8;border-top: none;}
.subForm{padding: 10px 0;}
.formName{height: 28px;line-height: 27px;font-size: 15px;color: #333;}
.star{color: #d4282d;}
.provinceBox{width: 170px;height: 28px;line-height: 28px;border: 1px solid #ccc;color: #333;}
.detailAddress{width: 500px;height: 160px;letter-spacing: 1px;padding: 2px;border: 1px solid #ccc;color: #333;font-size: 14px;}
.sureBtn{width: 140px;height: 42px;line-height: 42px;text-align: center;background: #f8981d;color: #fff;margin: 30px 82px;}


/* 剩余字数 */
.surplus{position: absolute;bottom: 0;left: 518px;font-size: 12px;color: #999;}



























