/* 修改支付密码内容 */
.rightContent{width: 896px;padding: 26px 0 0;border: 1px solid #eee;}
.pwdTitle{padding: 0 30px;font-size: 18px;font-weight: 600;color: #333;}
.speedBar{padding: 30px 118px 50px;}
.speedBar li{text-align: center;width: 220px;}
.speedBar li i{display: inline-block;width: 28px;height: 28px;}
.speedBar li span{display: block;margin-top: 8px;font-size: 16px;color: #666;}

.bindNum i{background: url(../../Image/personalCenter/modifyPassword/oneIcon.png) no-repeat center;background-size: 28px 28px;}
.setPayment i{background: url(../../Image/personalCenter/modifyPassword/unTwoIcon.png) no-repeat center;background-size: 28px 28px;}
.complete i{background: url(../../Image/personalCenter/modifyPassword/unThreeIcon.png) no-repeat center;background-size: 28px 28px;}

/* 进度条线 */
.bindNum b{display: inline-block;width: 47%;height: 6px;background: #f8981d;position: absolute;right: 0;top: 12px;z-index: -1;}
.setPayment b{display: inline-block;width: 100%;height: 6px;background: #e8e8e8;position: absolute;right: 0;top: 12px;z-index: -1;}
.complete b{display: inline-block;width: 47%;height: 6px;background: #e8e8e8;position: absolute;left: 0;top: 12px;z-index: -1;}

/* 选中 */
.setPaymentActive i{background: url(../../Image/personalCenter/modifyPassword/twoIcon.png) no-repeat center;background-size: 28px 28px;}
.setPaymentActive b{display: inline-block;width: 100%;height: 6px;background: #f8981d;position: absolute;right: 0;top: 12px;z-index: -1;}

.completeActive i{background: url(../../Image/personalCenter/modifyPassword/threeIcon.png) no-repeat center;background-size: 28px 28px;}
.completeActive b{display: inline-block;width: 47%;height: 6px;background: #f8981d;position: absolute;left: 0;top: 12px;z-index: -1;}

/* 输入框 */
.setPhone ,.setAccount ,.inputPwd ,.inputComplete{text-align: center;}
.inputBox{padding: 0 292px;overflow: hidden;}
.phoneNumber ,.verificationCode{margin: 14px 0;}
.phoneNumber input{width: 300px;height: 42px;font-size: 15px;padding-left: 10px;border: 1px solid #eee;}
.verificationInput{width: 200px;height: 42px;font-size: 15px;padding-left: 10px;border: 1px solid #eee;}
.codeButton{width: 100px;height: 44px;font-size: 15px;line-height: 44px;text-align: center;background: #f8981d;border: none;color: #fff;}

/* 完成 */
.inputCompleteIcon{vertical-align: middle;display: inline-block;width: 44px;height: 44px;background: url(../../Image/personalCenter/modifyPassword/completeIcon.png) no-repeat center;background-size: 44px 44px;}
.inputCompleteText{vertical-align: middle;font-size: 18px;font-weight: 600;color: #333;margin-left: 10px;}
.completeIcon{margin-bottom: 80px;}

/* 提交 */
.subBtn{width: 144px;height: 44px;margin: 10px 0 80px;line-height: 44px;text-align: center;font-size: 16px;background: #f8981d;color: #fff;}
.subBtn:active{color: #fff;}

/* 温馨提醒 */
.pwdExplain{background: #f5f5f5;padding: 20px 30px;}
.pwdExplainTitle{font-size: 16px;font-weight: 600;color: #333;}
.pwdExplain p{margin: 6px 0;font-size: 15px;color: #999;}












































