<div class="qualityBox">
    <div class="container cf">
        <div class="subQuality fl cf"><i class="real"></i><p class="fl">正品保证</p></div>
        <div class="subQuality fl cf"><i class="seven"></i><p class="fl">7天包退</p></div>
        <div class="subQuality fl cf quickBox"><i class="quick"></i><p class="fl">闪电发货</p></div>
    </div>
</div>
<div class="footConBox">
    <div class="container cf">
        <div class="subFootCon fl">
            <p>帮助中心</p>
            <a href="javascript:void(0)">用户登录与密码找回</a>
            <a href="javascript:void(0)">用户注册协议</a>
            <a href="javascript:void(0)">购买指南</a>
            <a href="javascript:void(0)">支付方式</a>
            <a href="javascript:void(0)">配送与说明</a>
            <a href="javascript:void(0)">用户注销</a>
        </div>
        <div class="subFootCon fl">
            <p>售后服务</p>
            <a href="javascript:void(0)">7日无理由退货</a>
            <a href="javascript:void(0)">质量问题15日内换货</a>
            <a href="javascript:void(0)">保修条款</a>
            <a href="javascript:void(0)">售后服务运费规则</a>
        </div>
        <div class="subFootCon fl">
            <p>联系我们</p>
            <a href="javascript:void(0)">400-6822-360</a>
            <a href="javascript:void(0)">周一至周日 9:00-18:00</a>
            <a href="javascript:void(0)">400-0111-366</a>
            <a href="javascript:void(0)">周一至周日 9:00-21:00</a>
            <a href="javascript:void(0)">（仅收市话费）</a>
        </div>
    </div>
</div>
<div class="footCopy">
    手店桶商城 &COPY;2013-2018 360公司版权所有 京ICP备17017089号 京公网安备11000002000006号
</div>