<div class="nav">
    <div class="container cf">
        <div class="fl">
            <a class="navLink" href="javascript:void(0)">登录</a>
            <span class="navInterval">/</span>
            <a class="navLink" href="javascript:void(0)">注册</a>
        </div>
        <div class="fr">
            <a class="navLink" href="javascript:void(0)">我的订单</a>
        </div>
    </div>
</div>
<div class="logoBox">
    <div class="container cf">
        <a class="logoLink fl" href="javascript:void(0)"><img class="logoImg" src="../../Static/Image/common/logo/logo1.png" width="180" height="58" alt=""></a>
        <div class="cartBox fr cf">
            <i class="cartIcon fl"></i>
            <p class="fl">我的购物车( <span>0</span> )</p>
        </div>
        <div class="searchBox fr cf">
            <input class="searchInput fl" type="text">
            <i class="searchIcon fr"></i>
        </div>
    </div>
</div>
<div class="navBar">
    <ul class="container cf">
        <li class="subNavBar fl active"><a class="navBarLink" href="javascript:void(0)">手店桶</a></li>
        <li class="subNavBar fl"><a class="navBarLink" href="javascript:void(0)">衣尚服饰</a></li>
        <li class="subNavBar fl"><a class="navBarLink" href="javascript:void(0)">华丽出行</a></li>
        <li class="subNavBar fl"><a class="navBarLink" href="javascript:void(0)">轻妆轻扮</a></li>
        <li class="subNavBar fl"><a class="navBarLink" href="javascript:void(0)">一搭多用</a></li>
        <li class="subNavBar fl"><a class="navBarLink" href="javascript:void(0)">一触即发</a></li>
        <li class="subNavBar fl"><a class="navBarLink" href="javascript:void(0)">其味无穷</a></li>
    </ul>
</div>