<div class="nav">
    <div class="container cf">
        <div class="fl">
            <a class="navLink" href="javascript:void(0)">登录</a>
            <span class="navInterval">/</span>
            <a class="navLink" href="javascript:void(0)">注册</a>
        </div>
        <div class="backHome fl"><a class="navLink" href="javascript:void(0)">返回手电桶首页</a></div>
        <div class="fr">
            <a class="navLink" href="javascript:void(0)">我的订单</a>
        </div>
    </div>
</div>
<div class="logoBox personalContent">
    <div class="container cf">
        <a class="logoLink fl" href="javascript:void(0)"><img class="logoImg" src="../../Static/Image/common/logo/logo1.png" width="180" height="58" alt=""></a>
        <div class="cartBox personalCartBox  fr cf">
            <i class="cartIcon fl"></i>
            <p class="fl">我的购物车( <span>0</span> )</p>
        </div>
        <div class="searchBox personalSearchBox fr cf">
            <input class="searchInput personalSearchInput fl" type="text">
            <i class="searchIcon personalSearchIcon fr"></i>
        </div>
    </div>
</div>
