<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/goodsDetail/index.css">
</head>
<body class="header footer">

    <div class="container">
        <!--  导航栏  -->
        <div class="commonNavBar">
            <a class="subBar" href="javascript:void(0)">首页</a> &gt;
            <a class="subBar" href="javascript:void(0)">珠宝</a> &gt;
            <a class="subBar" href="javascript:void(0)">黄金</a> &gt;
            <a class="subBar" href="javascript:void(0)">四叶草黄金套链</a>
        </div>
        <!--   商品介绍部分   -->
        <div class="goodsBox cf">
            <div class="goodsLeft fl">
                <div class="goodsBig"><img src="../../Static/Image/goodsDetail/goodsBig.png" alt=""></div>
                <div class="goodsLittleBox cf">
                    <img class="fl subLittleBox active" src="../../Static/Image/goodsDetail/goodsBig.png" alt="">
                    <img class="fl subLittleBox" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                    <img class="fl subLittleBox" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                    <img class="fl subLittleBox" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                </div>
            </div>
            <div class="goodsRight fl">
                <div class="goodsName">四叶草黄金套链</div>
                <div class="goodsExplain">春季新品，时尚百搭</div>
                <div class="goodGreyBox">
                    <div class="goodsGreyTop cf">
                        <div class="cf subGoodsGrey fl"><p class="goodsTit fl">价格</p><p class="fl col_red nowPrice">￥<span class="goodsPrice">199</span></p><p class="fl lastPrice">￥<span>210</span></p></div>
                        <div class="cf subGoodsGrey fl"><p class="goodsTit fl">促销</p><p class="fl col_red">全场7重折 新品冰点价</p></div>
                        <div class="cf subGoodsGrey fl"><p class="goodsTit fl">积分</p><p class="fl col_black">购买最高得17积分</p></div>
                    </div>
                    <div class="goodsGreyBottom cf">
                        <div class="cf subGoodsGrey fl"><p class="goodsTit fl">服务</p><p class="fl"><span>▪ 30天无忧退换货</span>&nbsp;&nbsp;&nbsp;<span>▪ 48小时快速退款</span>&nbsp;&nbsp;&nbsp;<span>▪ 满88元免邮费</span></p></div>
                        <div class="cf subGoodsGrey fl"><p class="goodsTit fl">&nbsp;</p><p class="fl"><span>▪ 手店桶自营品牌</span>&nbsp;&nbsp;&nbsp;<span>▪ 国内部分地区无法配送</span></p></div>
                    </div>
                </div>
                <div class="specBox cf">
                    <div class="fl specTit">规格</div>
                    <div class="cf fl specCon">
                        <p class="subSpec fl active">【黄金现货】四叶草套链约1.5g</p>
                        <p class="subSpec fl">【黄金现货】四叶草套链约1.5g</p>
                    </div>
                </div>
                <div class="numBox cf">
                    <div class="numTit fl">数量</div>
                    <div class="goodsNumBox fl">
                        <div class="cart_num cf">
                            <div class="cart_min"></div>
                            <input class="cart_text_box" type="number" value="1" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                            <div class="cart_add"></div>
                        </div>
                    </div>
                </div>
                <div class="operateBox cf">
                    <a class="btn_buy fl" href="javascript:void(0)">立即购买</a>
                    <a class="btn_addCart fl" href="javascript:void(0)">加入购物车</a>
                    <a class="btn_fav fl" href="javascript:void(0)"><i></i>收藏</a>
                </div>
            </div>
        </div>
        <!--   大家都在看   -->
        <div class="allLookBox cf">
            <div class="tit fl"><span>大家都在看</span></div>
            <div class="con fl slide-box pr">
                <ul class="slide-content cf">
                    <li class="fl subGoodsBox copy" data-num="10">
                        <img class="goodsBoxImg" src="../../Static/Image/common/goodsImg/goodsImg.png" alt="">
                        <p class="goodsBoxName ofh">Paris名媛睡袍Paris名媛睡袍Paris名媛睡袍</p>
                        <p class="goodsBoxPrice">￥<span>239</span></p>
                    </li>
                </ul>
                <div class="slide-btns">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
            </div>
        </div>
        <!--   商品详情部分   -->
        <div class="detailBox cf">
            <div class="detailLeft fl">
                <div class="detailTab cf">
                    <a class="subDetailTab active" href="javascript:void(0)">详情</a>
                    <a class="subDetailTab" href="javascript:void(0)">评价（<span>123</span>）</a>
                </div>
                <div class="detailCon">
                    <div class="subDetailCon">
                        <div class="specifications">
                            <div><span>品牌名称：</span><span>Philips/飞利浦</span></div>
                            <div class="parameter">产品参数：</div>
                            <ul class="cf">
                                <li class="fl"><span>产品名称：</span><span>Philips/飞利浦 AC6608</span></li>
                                <li class="fl"><span>保修期：</span><span>24个月</span></li>
                                <li class="fl"><span>品牌：</span><span>Philips/飞利浦</span></li>
                                <li class="fl"><span>型号：</span><span>AC6608</span></li>
                                <li class="fl"><span>噪音：</span><span>34-65dB</span></li>
                                <li class="fl"><span>控制方式：</span><span>按键式</span></li>
                                <li class="fl"><span>智能类型：</span><span>其他</span></li>
                                <li class="fl"><span>滤网类型：</span><span>单独滤网</span></li>
                                <li class="fl"><span>生产企业：</span><span>飞利浦（中国）投资有限公司</span></li>
                                <li class="fl"><span>货号：</span><span>AC6608</span></li>
                                <li class="fl"><span>颜色分类：</span><span>白色</span></li>
                                <li class="fl"><span>功能：</span><span>定时 除花粉 除甲醛 除烟除尘</span></li>
                            </ul>
                        </div>
                        <img src="../../Static/Image/goodsDetail/detailImg.png" alt="">
                        <img src="../../Static/Image/goodsDetail/detailImg2.png" alt="">
                        <img src="../../Static/Image/goodsDetail/detailImg3.png" alt="">
                    </div>
                    <div class="subDetailCon commentDetailCon hide">
                        <div class="commentBox cf">
                            <div class="goodComment fl">
                                <p>好评率</p>
                                <p class="commentRate">50%</p>
                                <i class="starBox"><em style="width: 50%;"></em></i>
                            </div>
                            <div class="allComment fl">
                                <p>大家都在说</p>
                                <ul class="eachCommentUl cf">
                                    <li class="subEachComment active">全部（<span>123</span>）</li>
                                    <li class="subEachComment">有图（<span>12</span>）</li>
                                    <li class="subEachComment">送人合适（<span>12</span>）</li>
                                    <li class="subEachComment">送人合适（<span>12</span>）</li>
                                    <li class="subEachComment">包装上心（<span>123</span>）</li>
                                    <li class="subEachComment">宝贝不错（<span>123</span>）</li>
                                    <li class="subEachComment">送人合适（<span>123</span>）</li>
                                    <li class="subEachComment">包装上心（<span>123</span>）</li>
                                    <li class="subEachComment">宝贝不错（<span>123</span>）</li>
                                </ul>
                            </div>
                        </div>
                        <div class="allCommentBox cf">
                            <div class="subCommentBox fl cf copy" data-num="5">
                                <div class="headBox fl">
                                    <img class="headImg" src="../../Static/Image/goodsDetail/headImg.png" alt="">
                                    <p class="headName ofh">香**菜香**菜</p>
                                </div>
                                <div class="commentCon fl cf">
                                    <i class="starBox"><em style="width: 90%;"></em></i>
                                    <p class="spec">规格：四叶草套链</p>
                                    <div class="commentWhat cf">
                                        <p>包装好看的都不忍心拆，虽然是自留但是觉得很适合送人啊！！外盒和里盒都有小菠萝的图案，太可爱了</p>
                                        <img class="commentImg fl" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                                        <img class="commentImg fl" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                                        <img class="commentImg fl" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                                        <img class="commentImg fl" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                                    </div>
                                    <p class="commentTime">2018-04-12 13:25</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailRight fl cf">
                <div class="tit fl">24小时热销榜</div>
                <div class="con fl">
                    <ul class="cf">
                        <li class="fl subGoodsBox copy" data-num="5">
                            <img class="goodsBoxImg" src="../../Static/Image/common/goodsImg/goodsImg.png" alt="">
                            <p class="goodsBoxName ofh">Paris名媛睡袍Paris名媛睡袍Paris名媛睡袍</p>
                            <p class="goodsBoxPrice">￥<span>239</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/jquery.ext.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/goodsDetail/index.js"></script>
</body>
</html>