<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/index/index.css">
</head>
<body class="header footer">

    <!-- banner图  -->
    <div class="slide-box banner">
        <ul class="slide-content">
            <li class="copy" data-num="5" style="background: url(../../Static/Image/index/banner/banner1.png) no-repeat center center;"><a href="javascript:void(0)" target="_blank"></a></li>
        </ul>
        <ol class="slide-triggers">
            <li class="copy" data-num="5"></li>
        </ol>
    </div>

    <!--  内容部分  -->
    <div class="container">
        <div class="coupon"><img src="../../Static/Image/index/coupon.png" alt=""></div>
        <!--   推荐    -->
        <div class="recommendBoxWrap">
            <div class="commonTit cf">
                <p class="titName fl">热门推荐</p>
                <a class="titMore fr" href="javascript:void(0)">查看更多&gt;</a>
            </div>
            <div class="commonCon cf">
                <div class="subRecommendBox fl cf copy" data-num="3">
                    <div class="recommendType fl"><img src="../../Static/Image/index/bg.png" alt=""><i class="triangle"></i></div>
                    <div class="recommendGoodsBox cf fl">
                        <div class="subRecommendGoods fl cf">
                            <img class="reGoodsImg fl" src="" alt="">
                            <p class="reGoodsName ofh fl">天使宝宝结二二</p>
                            <p class="reGoodsPrice fl">￥<span>1915</span></p>
                        </div>
                        <div class="subRecommendGoods fl cf">
                            <img class="reGoodsImg fl" src="" alt="">
                            <p class="reGoodsName ofh fl">天使宝宝结二二</p>
                            <p class="reGoodsPrice fl">￥<span>1915</span></p>
                        </div>
                        <div class="subRecommendGoods fl cf">
                            <img class="reGoodsImg fl" src="" alt="">
                            <p class="reGoodsName ofh fl">天使宝宝结二二</p>
                            <p class="reGoodsPrice fl">￥<span>1915</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   每个分类   -->
        <div class="classifyBoxWrap">
            <div class="subClassifyBoxWrap" id="floor1">
                <div class="commonTit">
                    <p class="titName fl">衣尚服饰</p>
                    <div class="titTypeBox fr cf">
                        <a class="fl" href="javascript:void(0)">牛仔</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">外衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">衬衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">卫衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">针织毛衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">T恤</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">裤装</a>
                        <a class="titMore fr" href="javascript:void(0)">查看更多&gt;</a>
                    </div>
                </div>
                <div class="commonCon">
                    <div class="classifyBanner"><img src="../../Static/Image/index/classifyBanner/classifyBanner.png" alt=""></div>
                    <div class="slide-box">
                        <ul class="cf classifyUL slide-content">
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍456546456</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">2222222222222</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">3333333333</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">4444444444</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                        </ul>
                        <div class="slide-btns">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subClassifyBoxWrap" id="floor2">
                <div class="commonTit">
                    <p class="titName fl">华丽出行</p>
                    <div class="titTypeBox fr cf">
                        <a class="fl" href="javascript:void(0)">牛仔</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">外衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">衬衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">卫衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">针织毛衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">T恤</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">裤装</a>
                        <a class="titMore fr" href="javascript:void(0)">查看更多&gt;</a>
                    </div>
                </div>
                <div class="commonCon">
                    <div class="classifyBanner"><img src="../../Static/Image/index/classifyBanner/classifyBanner.png" alt=""></div>
                    <div class="slide-box">
                        <ul class="cf classifyUL slide-content">
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍456546456</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">2222222222222</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">3333333333</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">4444444444</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                        </ul>
                        <div class="slide-btns">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subClassifyBoxWrap" id="floor3">
                <div class="commonTit">
                    <p class="titName fl">轻妆轻扮</p>
                    <div class="titTypeBox fr cf">
                        <a class="fl" href="javascript:void(0)">牛仔</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">外衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">衬衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">卫衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">针织毛衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">T恤</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">裤装</a>
                        <a class="titMore fr" href="javascript:void(0)">查看更多&gt;</a>
                    </div>
                </div>
                <div class="commonCon">
                    <div class="classifyBanner"><img src="../../Static/Image/index/classifyBanner/classifyBanner.png" alt=""></div>
                    <div class="slide-box">
                        <ul class="cf classifyUL slide-content">
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍456546456</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">2222222222222</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">3333333333</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">4444444444</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                        </ul>
                        <div class="slide-btns">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subClassifyBoxWrap" id="floor4">
                <div class="commonTit">
                    <p class="titName fl">一搭多用</p>
                    <div class="titTypeBox fr cf">
                        <a class="fl" href="javascript:void(0)">牛仔</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">外衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">衬衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">卫衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">针织毛衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">T恤</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">裤装</a>
                        <a class="titMore fr" href="javascript:void(0)">查看更多&gt;</a>
                    </div>
                </div>
                <div class="commonCon">
                    <div class="classifyBanner"><img src="../../Static/Image/index/classifyBanner/classifyBanner.png" alt=""></div>
                    <div class="slide-box">
                        <ul class="cf classifyUL slide-content">
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍456546456</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">2222222222222</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">3333333333</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">4444444444</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                        </ul>
                        <div class="slide-btns">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subClassifyBoxWrap" id="floor5">
                <div class="commonTit">
                    <p class="titName fl">一触即发</p>
                    <div class="titTypeBox fr cf">
                        <a class="fl" href="javascript:void(0)">牛仔</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">外衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">衬衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">卫衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">针织毛衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">T恤</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">裤装</a>
                        <a class="titMore fr" href="javascript:void(0)">查看更多&gt;</a>
                    </div>
                </div>
                <div class="commonCon">
                    <div class="classifyBanner"><img src="../../Static/Image/index/classifyBanner/classifyBanner.png" alt=""></div>
                    <div class="slide-box">
                        <ul class="cf classifyUL slide-content">
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍456546456</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">2222222222222</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">3333333333</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">4444444444</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                        </ul>
                        <div class="slide-btns">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subClassifyBoxWrap" id="floor6">
                <div class="commonTit">
                    <p class="titName fl">其味无穷</p>
                    <div class="titTypeBox fr cf">
                        <a class="fl" href="javascript:void(0)">牛仔</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">外衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">衬衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">卫衣</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">针织毛衫</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">T恤</a><span class="fl interval">/</span>
                        <a class="fl" href="javascript:void(0)">裤装</a>
                        <a class="titMore fr" href="javascript:void(0)">查看更多&gt;</a>
                    </div>
                </div>
                <div class="commonCon">
                    <div class="classifyBanner"><img src="../../Static/Image/index/classifyBanner/classifyBanner.png" alt=""></div>
                    <div class="slide-box">
                        <ul class="cf classifyUL slide-content">
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">Paris名媛睡袍456546456</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">2222222222222</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">3333333333</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                            <li class="fl subClassifyBox">
                                <div class="classifyImgBox"><img src="" alt=""></div>
                                <p class="classifyName ofh">4444444444</p>
                                <p class="classifyPrice">￥<span>239</span></p>
                            </li>
                        </ul>
                        <div class="slide-btns">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  左侧导航栏  -->
    <div class="fixFloor hide">
        <ul class="cf">
            <li class="fl subFloor floor1" data-floor="floor1"><p class="floorName">衣尚服饰</p></li>
            <li class="fl subFloor floor2" data-floor="floor2"><p class="floorName">华丽出行</p></li>
            <li class="fl subFloor floor3" data-floor="floor3"><p class="floorName">轻妆轻扮</p></li>
            <li class="fl subFloor floor4" data-floor="floor4"><p class="floorName">一搭多用</p></li>
            <li class="fl subFloor floor5" data-floor="floor5"><p class="floorName">一触即发</p></li>
            <li class="fl subFloor floor6" data-floor="floor6"><p class="floorName">其味无穷</p></li>
            <li class="fl returnTopFloor cf"><i class="topLine hide"></i><i class="return"></i><p class="fl">顶部</p></li>
        </ul>
    </div>

    <!--   弹窗   -->
    <div class="getCouponAlert hide">
        <p class="couponTit">领取成功</p>
        <p class="activeTimeBox">活动时间：<span>2017年4月1日</span><span>-</span><span>4月11日</span></p>
        <div class="couponImgBox cf">
            <img src="../../Static/Image/common/coupon/coupon1.png" alt="">
            <img src="../../Static/Image/common/coupon/coupon2.png" alt="">
            <img src="../../Static/Image/common/coupon/coupon3.png" alt="">
        </div>
        <div class="couponRuleBox">
            <p>优惠券使用规则为：</p>
            <p>（1）单笔订单只能使用1张优惠券，不能同时使用多张优惠券；</p>
            <p>（2）请在有效期内使用优惠券，未使用的优惠券过期后，将自动作废；</p>
            <p>（3）优惠券严禁出售或转让，如经发现并证实的，改券将予以作废处理；</p>
            <p>（4）使用优惠券支付的订单，若产生退货，优惠券均不退回，退款金额按优惠后的小计金额退款；</p>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/jquery.ext.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/index/index.js"></script>
</body>
</html>