<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>申请售后</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/common.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/applySale.css">
</head>
<body class="personalHeader footer">

    <div class="container">
        <!-- 面包屑 -->
        <div class="crumbs">
            <span>首页</span> &gt; <span class="secondLevel">个人中心</span>
        </div>

        <!-- content -->
        <div class="content cf">
            <!-- 左侧边导航 -->
            <div class="leftNavigation fl">
                <div class="typeTitle">账号管理</div>
                <a href="javascript:;">个人中心</a>
                <a href="message.html">消息通知<span class="notice dib"></span></a>
                <a href="accountInfo.html">账号信息</a>
                <a href="addressManagement.html">地址管理</a>
                <a href="accountSecurity.html">账号安全</a>
                <a href="myPoints.html">我的积分</a>
                <a href="myCollection.html">我的收藏</a>
                <a href="javascript:;">我的足迹</a>
                <div class="typeTitle">交易管理</div>
                <a href="../../View/personalCenter/order.html" class="active">订单管理</a>
                <a href="javascript:;">我的红包</a>
                <a href="javascript:;">优惠券<span>(0)</span></a>
                <div class="typeTitle">服务中心</div>
                <a href="record.html">售后记录</a>
                <a href="../helpCenter/index.html">帮助中心</a>
            </div>

            <!-- 右侧内容 -->
            <div class="rightContent fl">
                <div class="refundShop shopList cf">
                    <div class="formName shopLeft fl">退款商品：</div>
                    <div class="shopDetail shopRight fl cf">
                        <img class="fl" src="" width="80" height="80" alt="">
                        <div class="shopText fl">
                            <p class="shopTitle" title="柠檬蜂蜜瓶">柠檬蜂蜜瓶</p>
                            <p class="shopType">颜色分类：圆形500ML【拍两个】</p>
                        </div>
                    </div>
                </div>
                <div class="shopList cf">
                    <div class="formName shopLeft fl">服务类型：<span class="star">*</span></div>
                    <select class="provinceBox shopRight fl">
                        <option value="">仅退款</option>
                    </select>
                </div>
                <div class="shopList cf">
                    <div class="formName shopLeft fl">货物状态：<span class="star">*</span></div>
                    <select class="provinceBox shopRight fl">
                        <option value="">未收到货</option>
                        <option value="">已收到货</option>
                    </select>
                </div>
                <div class="shopList explain">卖家已发货，请先 <a class="lookBtn" href="javascript:;"> 查看物流信息</a>，或联系卖家。</div>
                <div class="shopList cf">
                    <div class="formName shopLeft fl">退款原因：<span class="star">*</span></div>
                    <select class="provinceBox shopRight fl">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="shopList cf">
                    <div class="formName shopLeft fl">退款金额：<span class="star">*</span></div>
                    <div class="provinceBox shopRight refundMoney fl">
                        <input type="text">
                    </div>
                </div>
                <div class="shopList explain">最多退<span>￥58.88</span>，含发货邮费<span>￥0.00</span></div>
                <div class="shopList cf">
                    <div class="formName shopLeft fl">退款说明：</div>
                    <div class="shopRight refundMoney fl">
                        <textarea class="detailAddress" id="area" name="" placeholder="退款说明"></textarea>
                        <p class="surplus">剩余<span id="word">300</span>个字</p>
                    </div>
                </div>
                <div class="shopList explain"><a class="subBtn" href="javascript:;">提交</a></div>
            </div>
        </div>
    </div>

    <!-- 追踪物流弹窗 -->
    <div class="getCouponAlert hide">
        <div class="alertDel cf"><span class="track fl">追踪物流</span><i class="close fr"></i></div>
        <div class="logisticsCar cf">
            <i class="fl"></i>
            <div class="logisticsText fl">
                <p><span>物流公司：</span><span class="oddNum">顺风快递</span></p>
                <p><span>快递单号：</span><span class="oddNum">VB41153264154</span></p>
                <p><span>预计到达：</span><span class="oddNum">4月15日前到达</span></p>
            </div>
        </div>
        <div class="timeList">留空，调用物流系统</div>
        <div class="complaint"><a href="complaintLogistics.html">投诉物流服务&gt;&gt;</a></div>
        <div class="submit"><a class="submitBtn" href="javascript:;">确定</a></div>
    </div>


    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/jquery.ext.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/personalCenter/applySale.js"></script>
</body>
</html>