<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>投诉物流服务</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/complaintLogistics.css">
</head>
<body class="personalHeader footer">

    <div class="container">
        <div class="complaint">
            <div class="cplHeader">投诉物流服务</div>
            <div class="cplContent">
                <div class="logisticsCar cf">
                    <i class="fl"></i>
                    <div class="logisticsText fl">
                        <p><span>物流公司：</span><span class="oddNum">顺风快递</span></p>
                        <p><span>快递单号：</span><span class="oddNum">VB41153264154</span></p>
                    </div>
                </div>
                <div class="cplProblem">
                    <div class="subForm cf">
                        <div class="formName fl"><span class="star">*</span>问题类型：</div>
                        <select class="provinceBox">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="subForm cf pr">
                        <div class="formName fl"><span class="star">*</span>问题类型：</div>
                        <textarea class="detailAddress" id="area" name="" placeholder="请描述你遇到的物流问题，300字以内。"></textarea>
                        <p class="surplus">剩余<span id="word">300</span>个字</p>
                    </div>
                    <a class="sureBtn" href="javascript:;">确定</a>
                </div>
            </div>
        </div>
    </div>




    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/personalCenter/complaintLogistics.js"></script>
</body>
</html>