<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>个人中心</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/common.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/index.css">
</head>
<body class="personalHeader footer">

    <div class="container">
        <!-- 面包屑 -->
        <div class="crumbs">
            <span>首页</span> &gt; <span class="secondLevel">个人中心</span>
        </div>

        <!-- content -->
        <div class="content cf">
            <!-- 左侧边导航 -->
            <div class="leftNavigation fl">
                <div class="typeTitle">账号管理</div>
                <a href="javascript:;" class="active">个人中心</a>
                <a href="message.html">消息通知<span class="notice dib"></span></a>
                <a href="accountInfo.html">账号信息</a>
                <a href="addressManagement.html">地址管理</a>
                <a href="accountSecurity.html">账号安全</a>
                <a href="myPoints.html">我的积分</a>
                <a href="myCollection.html">我的收藏</a>
                <a href="myTracks.html">我的足迹</a>
                <div class="typeTitle">交易管理</div>
                <a href="order.html">订单管理</a>
                <a href="javascript:;">我的红包</a>
                <a href="javascript:;">优惠券<span>(0)</span></a>
                <div class="typeTitle">服务中心</div>
                <a href="record.html">售后记录</a>
                <a href="../helpCenter/index.html">帮助中心</a>
            </div>

            <!-- 右侧内容 -->
            <div class="rightContent fl">
                <div class="userInfo cf">
                    <div class="userInfoLeft fl">
                        <div class="headPortrait cf">
                            <img class="fl" src="../../Static/Image/personalCenter/personalIcon.png" width="66" height="66" alt="">
                            <span class="fl" title="zb_xiaoshuai">zb_xiaoshuai</span>
                        </div>
                        <div class="growthValue">
                            <div class="growthValueText cf"><span class="fl">成长值&gt;&gt;</span><span class="fr">0/1</span></div>
                            <div class="percent"><div class="percentSpeed" style="width: 80%;"></div></div>
                        </div>
                    </div>
                    <div class="userInfoRight fl">
                        <div class="userInfoRightList dib"><span class="userInfoRightName dib">我的红包</span><span>￥0.00</span></div>
                        <div class="userInfoRightList dib"><span class="userInfoRightName dib">优惠券</span><span>0张</span></div>
                        <div class="userInfoRightList dib"><span class="userInfoRightName dib">可兑返利</span><span>￥0.00</span></div>
                        <div class="userInfoRightList dib"><span class="userInfoRightName dib">礼品卡</span><span>￥0.00</span></div>
                        <div class="userInfoRightList dib"><span class="userInfoRightName dib">我的积分</span><span>0</span></div>
                        <div class="userInfoRightList dib"><span class="userInfoRightName dib">待领礼包</span><span>0个</span></div>
                    </div>
                </div>
                <div class="unOrder">
                    <div class="unOrderTitle cf">
                        <span class="fl">未完成订单（1）</span>
                        <a class="orderBtn fr" href="javascript:;">查看全部订单</a>
                    </div>
                    <!-- 待付款 -->
                    <div class="subOrder">
                        <div class="">
                            <div class="orderTit cf"><p class="fl orderTime">下单时间：<span>2018-04-13 11:06:55</span></p><p class="fl">订单号：<span>3317918</span></p><p class="fr delIcon"><i></i></p></div>
                            <div class="unPay">
                                <div class="unPayLeft">
                                    <div class="unPayDetail cf">
                                        <img src="../../Static/Image/personalCenter/shop.png" alt="" class="orderImgBox fl">
                                        <div class="orderName fl">
                                            <p class="ofh" title="柠檬蜂蜜瓶带盖酱菜 [交易快照]">柠檬蜂蜜瓶带盖酱菜 [交易快照]</p>
                                            <p class="ofh"><span>颜色分类：</span><span title="圆形500ML【拍两个送夹子】">圆形500ML【拍两个送夹子】</span></p>
                                        </div>
                                        <div class="orderNum fl">1</div>
                                    </div>
                                    <div class="unPayDetail cf">
                                        <img src="../../Static/Image/personalCenter/shop.png" alt="" class="orderImgBox fl">
                                        <div class="orderName fl">
                                            <p class="ofh" title="柠檬蜂蜜瓶带盖酱菜 [交易快照]">柠檬蜂蜜瓶带盖酱菜 [交易快照]</p>
                                            <p class="ofh"><span>颜色分类：</span><span title="圆形500ML【拍两个送夹子】">圆形500ML【拍两个送夹子】</span></p>
                                        </div>
                                        <div class="orderNum fl">1</div>
                                    </div>
                                    <div class="unPayDetail cf">
                                        <img src="../../Static/Image/personalCenter/shop.png" alt="" class="orderImgBox fl">
                                        <div class="orderName fl">
                                            <p class="ofh" title="柠檬蜂蜜瓶带盖酱菜 [交易快照]">柠檬蜂蜜瓶带盖酱菜 [交易快照]</p>
                                            <p class="ofh"><span>颜色分类：</span><span title="圆形500ML【拍两个送夹子】">圆形500ML【拍两个送夹子】</span></p>
                                        </div>
                                        <div class="orderNum fl">1</div>
                                    </div>
                                </div>
                                <div class="orderState unPayState">
                                    <p>未付款</p>
                                    <p class="look"><a href="javascript:;">订单详情</a></p>
                                    <p class="look"><a href="javascript:;">取消订单</a></p>
                                </div>
                                <div class="orderMoney unPayMoney">
                                    <p>￥46.00</p>
                                    <p>（含运费：￥10元）</p>
                                </div>
                                <div class="orderSure unPaySure"><a class="collect" href="javascript:;">立即付款</a></div>
                            </div>
                        </div>
                        <!-- 暂无订单 -->
                        <div class="notShop hide">
                            <i class="notShopIcon dib"></i>
                            <p class="notShopText">当前暂无任何订单</p>
                        </div>
                    </div>
                </div>
                <div class="myCollection">
                    <div class="myCollectionTitle cf">
                        <span class="fl">我的收藏（5）</span>
                        <a class="myCollectionBtn fr" href="javascript:;">查看全部收藏</a>
                    </div>
                    <div>
                        <div class="myCollectionContent">
                            <ul class="cf">
                                <li class="fl subGoodsBox copy" data-num="5">
                                    <div class="goodsBoxImgWrap"><img class="goodsBoxImg" src="" alt=""></div>
                                    <p class="goodsBoxName ofh">Paris名媛睡袍Paris名媛睡袍Paris名媛睡袍</p>
                                    <p class="goodsBoxPrice">￥<span>239</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="notShop hide">
                            <i class="notShopIcon dib"></i>
                            <p class="notShopText">当前暂无任何订单</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/personalCenter/index.js"></script>
</body>
</html>