<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>我的积分-积分明细</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/common.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/integralDetail.css">
</head>
<body class="personalHeader footer">

    <div class="container">
        <!-- 面包屑 -->
        <div class="crumbs">
            <span>首页</span> &gt; <span class="secondLevel">个人中心</span>
        </div>

        <!-- content -->
        <div class="content cf">
            <!-- 左侧边导航 -->
            <div class="leftNavigation fl">
                <div class="typeTitle">账号管理</div>
                <a href="index.html">个人中心</a>
                <a href="message.html">消息通知<span class="notice dib"></span></a>
                <a href="accountInfo.html">账号信息</a>
                <a href="addressManagement.html">地址管理</a>
                <a href="accountSecurity.html">账号安全</a>
                <a href="javascript:;" class="active">我的积分</a>
                <a href="myCollection.html">我的收藏</a>
                <a href="myTracks.html">我的足迹</a>
                <div class="typeTitle">交易管理</div>
                <a href="order.html">订单管理</a>
                <a href="javascript:;">我的红包</a>
                <a href="javascript:;">优惠券<span>(0)</span></a>
                <div class="typeTitle">服务中心</div>
                <a href="record.html">售后记录</a>
                <a href="../helpCenter/index.html">帮助中心</a>
            </div>

            <!-- 右侧内容 -->
            <div class="rightContent fl">
                <div class="integralDetailTitle cf">
                    <div class="fl"><span>积分明细</span><span class="integralDetailText">(共0条记录)</span></div>
                    <div class="fr"><i class="explainIcon"></i><span class="explainIconText">积分明细说明</span></div>
                </div>

                <!-- 积分列表 -->
                <div class="integralDetailContent">
                    <div class="detailTitle cf">
                        <span class="detailDate fl">日期</span>
                        <span class="detailSource fl">来源</span>
                        <span class="detailIntegral fl">积分</span>
                    </div>
                    <div class="integralList">
                        <ul>
                            <li class="cf copy" data-num="6">
                                <span class="detailDate detailDateLi fl">2018-04-16 14:33:50</span>
                                <div class="detailSource detailSourceLi fl">
                                    <img class="dib" src="" width="53" height="55" alt="">
                                    <div class="detailSourceText dib">
                                        <span class="detailSourceName dib">Paris名媛睡袍</span>
                                        <p class="detailSourceVal"><span class="detailSourceNum dib">79积分</span><span class="detailSourceMoney">￥9.99</span></p>
                                    </div>
                                </div>
                                <div class="detailIntegral detailIntegralLi fl"><span>+</span><span class="detailIntegralNum">3</span></div>
                            </li>
                        </ul>
                        <div class="notAvailable hide">暂无记录</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/personalCenter/integralDetail.js"></script>
</body>
</html>