<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>账号安全-修改登录密码</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/common.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/loginPassword.css">
</head>
<body class="personalHeader footer">
    <div class="container">
        <!-- 面包屑 -->
        <div class="crumbs">
            <span>首页</span> &gt; <span class="secondLevel">个人中心</span>
        </div>

        <!-- content -->
        <div class="content cf">
            <!-- 左侧边导航 -->
            <div class="leftNavigation fl">
                <div class="typeTitle">账号管理</div>
                <a href="index.html">个人中心</a>
                <a href="message.html">消息通知<span class="notice dib"></span></a>
                <a href="accountInfo.html">账号信息</a>
                <a href="addressManagement.html">地址管理</a>
                <a href="javascript:;" class="active">账号安全</a>
                <a href="myPoints.html">我的积分</a>
                <a href="myCollection.html">我的收藏</a>
                <a href="myTracks.html">我的足迹</a>
                <div class="typeTitle">交易管理</div>
                <a href="order.html">订单管理</a>
                <a href="javascript:;">我的红包</a>
                <a href="javascript:;">优惠券<span>(0)</span></a>
                <div class="typeTitle">服务中心</div>
                <a href="record.html">售后记录</a>
                <a href="../helpCenter/index.html">帮助中心</a>
            </div>
            <div class="rightContent fl">
                <span class="pwdTitle">修改登录密码</span>

                <!-- 验证手机账号信息 -->
                <div class="setPhone">
                    <ul class="speedBar cf">
                        <li class="bindNum fl pr">
                            <i></i>
                            <span>验证账号信息</span>
                            <b></b>
                        </li>
                        <li class="setPayment fl pr">
                            <i></i>
                            <span>修改登录密码</span>
                            <b></b>
                        </li>
                        <li class="complete fl pr">
                            <i></i>
                            <span>完成</span>
                            <b></b>
                        </li>
                    </ul>
                    <div class="inputBox">
                        <div class="phoneNumber">
                            <input type="number" oninput="if(value.length>11)value=value.slice(0,11)" placeholder="请输入手机号码">
                        </div>
                        <div class="verificationCode cf">
                            <input class="verificationInput fl" type="number" oninput="if(value.length>6)value=value.slice(0,6)" placeholder="请输入验证码">
                            <input class="codeButton fl" type="button" disabled value="获取验证码">
                        </div>
                    </div>
                    <a class="subBtn" href="javascript:;">提交</a>
                </div>

                <!-- 验证账号信息 -->
                <div class="setAccount hide">
                    <ul class="speedBar cf">
                        <li class="bindNum fl pr">
                            <i></i>
                            <span>验证账号信息</span>
                            <b></b>
                        </li>
                        <li class="setPayment fl pr">
                            <i></i>
                            <span>修改登录密码</span>
                            <b></b>
                        </li>
                        <li class="complete fl pr">
                            <i></i>
                            <span>完成</span>
                            <b></b>
                        </li>
                    </ul>
                    <div class="inputBox">
                        <div class="phoneNumber">
                            <input type="text" maxlength="20" placeholder="请输入您目前登录账号信息">
                        </div>
                    </div>
                    <a class="subBtn" href="javascript:;">提交</a>
                </div>

                <!-- 修改登录密码 -->
                <div class="inputPwd hide">
                    <ul class="speedBar cf">
                        <li class="bindNum fl pr">
                            <i></i>
                            <span>验证账号信息</span>
                            <b></b>
                        </li>
                        <li class="setPayment setPaymentActive fl pr">
                            <i></i>
                            <span>修改登录密码</span>
                            <b></b>
                        </li>
                        <li class="complete fl pr">
                            <i></i>
                            <span>完成</span>
                            <b></b>
                        </li>
                    </ul>
                    <div class="inputBox">
                        <div class="phoneNumber">
                            <input type="number" oninput="if(value.length>6)value=value.slice(0,6)" placeholder="输入新密码">
                        </div>
                        <div class="phoneNumber">
                            <input type="number" oninput="if(value.length>6)value=value.slice(0,6)" placeholder="再次输入新密码">
                        </div>
                    </div>
                    <a class="subBtn" href="javascript:;">提交</a>
                </div>

                <!-- 完成 -->
                <div class="inputComplete hide">
                    <ul class="speedBar cf">
                        <li class="bindNum fl pr">
                            <i></i>
                            <span>验证账号信息</span>
                            <b></b>
                        </li>
                        <li class="setPayment setPaymentActive fl pr">
                            <i></i>
                            <span>修改登录密码</span>
                            <b></b>
                        </li>
                        <li class="complete completeActive fl pr">
                            <i></i>
                            <span>完成</span>
                            <b></b>
                        </li>
                    </ul>
                    <div class="inputBox completeIcon">
                        <i class="inputCompleteIcon"></i>
                        <span class="inputCompleteText">登陆密码修改完成</span>
                    </div>
                </div>

                <!-- 温馨提醒 -->
                <div class="pwdExplain">
                    <span class="pwdExplainTitle">温馨提醒</span>
                    <p>• 为保障您的账号安全，变更重要信息需要身份验证</p>
                    <p>• 若有疑问请联系在线客服或拨打400-0368-163（9:00-20:00）</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/personalCenter/modifyPassword.js"></script>
</body>
</html>