<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>我的积分</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/common.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/myPoints.css">
</head>
<body class="personalHeader footer">

    <div class="container">
        <!-- 面包屑 -->
        <div class="crumbs">
            <span>首页</span> &gt; <span class="secondLevel">个人中心</span>
        </div>

        <!-- content -->
        <div class="content cf">
            <!-- 左侧边导航 -->
            <div class="leftNavigation fl">
                <div class="typeTitle">账号管理</div>
                <a href="index.html">个人中心</a>
                <a href="message.html">消息通知<span class="notice dib"></span></a>
                <a href="accountInfo.html">账号信息</a>
                <a href="addressManagement.html">地址管理</a>
                <a href="accountSecurity.html">账号安全</a>
                <a href="javascript:;" class="active">我的积分</a>
                <a href="myCollection.html">我的收藏</a>
                <a href="myTracks.html">我的足迹</a>
                <div class="typeTitle">交易管理</div>
                <a href="order.html">订单管理</a>
                <a href="javascript:;">我的红包</a>
                <a href="javascript:;">优惠券<span>(0)</span></a>
                <div class="typeTitle">服务中心</div>
                <a href="record.html">售后记录</a>
                <a href="../helpCenter/index.html">帮助中心</a>
            </div>

            <!-- 右侧内容 -->
            <div class="rightContent fl">
                <div class="giftTitle cf">
                    <div class="available fl"><span>可用积分：</span><span class="value">60</span></div>
                    <div class="detailed fr"><a href="integralDetail.html">积分明细</a><a href="javascript:;">帮助中心</a></div>
                </div>

                <!-- 积分兑换好礼 -->
                <div class="exchange">
                    <div class="infoTitle">
                        <span>积分兑换好礼</span>
                    </div>
                    <div class="shopUl">
                        <ul class="cf">
                            <li class="fl subGoodsBox copy" data-num="5">
                                <div class="goodsBoxImgWrap"><img class="goodsBoxImg" src="" alt=""></div>
                                <p class="goodsBoxName ofh">Paris名媛睡袍Paris名媛睡袍Paris名媛睡袍</p>
                                <p class="goodsBoxPrice">￥<span>239</span></p>
                            </li>
                        </ul>
                        <div class="notLi hide">
                            <i></i>
                            <span>您还没有积分兑换好礼呢</span>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>

    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/personalCenter/myPoints.js"></script>
</body>
</html>