<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>订单详情</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/common.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/orderDetail.css">
</head>
<body class="personalHeader footer">

    <div class="container">
        <!-- 面包屑 -->
        <div class="crumbs">
            <span>首页</span> &gt; <span class="secondLevel">个人中心</span>
        </div>

        <!-- content -->
        <div class="content cf">
            <!-- 左侧边导航 -->
            <div class="leftNavigation fl">
                <div class="typeTitle">账号管理</div>
                <a href="javascript:;">个人中心</a>
                <a href="message.html">消息通知<span class="notice dib"></span></a>
                <a href="accountInfo.html">账号信息</a>
                <a href="addressManagement.html">地址管理</a>
                <a href="accountSecurity.html">账号安全</a>
                <a href="myPoints.html">我的积分</a>
                <a href="myCollection.html">我的收藏</a>
                <a href="javascript:;">我的足迹</a>
                <div class="typeTitle">交易管理</div>
                <a href="../../View/personalCenter/order.html" class="active">订单管理</a>
                <a href="javascript:;">我的红包</a>
                <a href="javascript:;">优惠券<span>(0)</span></a>
                <div class="typeTitle">服务中心</div>
                <a href="record.html">售后记录</a>
                <a href="../helpCenter/index.html">帮助中心</a>
            </div>

            <!-- 右侧内容 -->
            <div class="rightContent fl">
                <div class="address">
                    <div class="orderTit cf"><p class="fl orderTime">订单号：<span>3317918</span><p class="fl">下单时间：<span>2018-04-13 11:06:55</span></p></p></div>
                    <div class="addressDetail cf">
                        <div class="addressLeft fl">
                            <p class="addressBox"><span class="addressTitle">&emsp;收件人：</span><span>中宝小帅</span></p>
                            <p class="addressBox"><span class="addressTitle">联系方式：</span><span class="tel">17688830262</span></p>
                            <p class="addressBox"><span class="addressTitle">收货地址：</span><span class="addressTitle">广东省深圳市罗湖区水田二街3号宝林国金大厦4楼D区中宝珠宝有限公司</span></p>
                            <p class="addressBox realPay"><span>确认收货得3积分</span><i class="dib"></i></p>
                        </div>
                        <div class="payRight fr">
                            <p class="addressBox cf"><span class="addressTitle fl">支付方式：</span><span class="fr">支付宝</span></p>
                            <p class="addressBox cf"><span class="addressTitle fl">商品合计：</span><span class="fr">￥36.00</span></p>
                            <p class="addressBox totalLine cf"><span class="addressTitle fl">&emsp;&emsp;运费：</span><span class="fr">￥10.00</span></p>
                            <p class="addressBox realPay cf"><span class="addressTitle fl">&emsp;&emsp;实付：</span><span class="total fr">￥46.00</span></p>
                        </div>
                    </div>
                </div>
                <div class="orderDetail">
                    <div class="orderDetailTitle">
                        <div class="orderState cf">
                            <span class="fl">已发货</span>
                            <p class="service fr">
                                <a class="afterSale" href="javascript:;">申请售后</a>
                                <a class="again" href="javascript:;">再次购买</a>
                                <a class="sure" href="javascript:;">确认收货</a>
                            </p>
                        </div>
                        <div class="logistics cf"><span class="logisticsInfo fl">物流信息：货物已完成分拣，离开【杭州外单分拣中心】</span><span class="fr">查看详情</span></div>
                    </div>
                    <div class="shopDetail">
                        <div class="shopDetailTitle cf">
                            <span class="goodInfo fl">商品信息</span>
                            <span class="unitPrice fl">单价</span>
                            <span class="num fl">数量</span>
                            <span class="smallPlan fl">小计</span>
                            <span class="realPayment fl">实付</span>
                        </div>
                        <div class="shopInfo cf">
                            <div class="shopInfoPic cf fl">
                                <img src="../../Static/Image/personalCenter/shop.png" alt="" class="orderImgBox fl">
                                <div class="orderName fl">
                                    <p class="ofh" title="柠檬蜂蜜瓶带盖酱菜 [交易快照]">柠檬蜂蜜瓶带盖酱菜 [交易快照]</p>
                                    <p class="ofh"><span>颜色分类：</span><span title="圆形500ML【拍两个送夹子】">圆形500ML【拍两个送夹子】</span></p>
                                </div>
                            </div>
                            <div class="amount unitPrice fl">￥36.00</div>
                            <div class="amount num fl">1</div>
                            <div class="amount smallPlan fl">￥36.00</div>
                            <div class="amount realPayment fl">￥36.00</div>
                        </div>
                        <div class="shopInfo cf">
                            <div class="shopInfoPic cf fl">
                                <img src="../../Static/Image/personalCenter/shop.png" alt="" class="orderImgBox fl">
                                <div class="orderName fl">
                                    <p class="ofh" title="柠檬蜂蜜瓶带盖酱菜 [交易快照]">柠檬蜂蜜瓶带盖酱菜 [交易快照]</p>
                                    <p class="ofh"><span>颜色分类：</span><span title="圆形500ML【拍两个送夹子】">圆形500ML【拍两个送夹子】</span></p>
                                </div>
                            </div>
                            <div class="amount unitPrice fl">￥36.00</div>
                            <div class="amount num fl">1</div>
                            <div class="amount smallPlan fl">￥36.00</div>
                            <div class="amount realPayment fl">￥36.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/personalCenter/orderDetail.js"></script>
</body>
</html>