<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>分类-华丽出行</title>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/shopClassify/fashionClothe.css">
</head>
<body class="header footer">
    <div class="shopContent">
        <div class="container shopClassifyContainer">
            <!-- banner -->
            <div class="slide-box banner">
                <ul class="slide-content">
                    <li class="copy" data-num="2" style="background: url(../../Static/Image/index/classifyBanner/classifyBanner.png) no-repeat center center;"><a href="javascript:void(0)" target="_blank"></a></li>
                </ul>
                <div class="slide-btns">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
            </div>

            <!-- contentList -->
            <div class="shopList">
                <div class="shopClassify pr">
                    <h3>分类：</h3>
                    <ul class="shopListClassifyUl cf">
                        <li class="fl all active">全部</li>
                        <li class="fl">帅哥</li>
                        <li class="fl">靓女</li>
                        <li class="fl">小可爱</li>
                        <li class="fl">好梦</li>
                        <li class="fl">贴身</li>
                        <li class="fl">宽松</li>
                    </ul>
                </div>
                <div class="shopSort pr">
                    <h3>排序：</h3>
                    <ul class="shopListClassifyUl cf">
                        <li class="fl all active">默认</li>
                        <li class="fl">价格</li>
                        <li class="fl">上架时间</li>
                    </ul>
                </div>
                <div class="classifyTitle">
                    <i></i>
                    <span>裤子</span>
                </div>
                <ul class="shopUl cf">
                    <li class="copy fl" data-num="7">
                        <a href="javascript:;">
                            <img src="../../Static/Image/shopClassify/shopPic.png" width="255" height="280" alt="">
                            <div class="shopExplain"><p class="shopName">Paris名媛睡袍</p><p class="money">¥239</p></div>
                        </a>
                    </li>
                </ul>
                <div class="classifyTitle trousers">
                    <i></i>
                    <span>卫衣</span>
                </div>
                <ul class="shopUl cf">
                    <li class="copy fl" data-num="7">
                        <a href="javascript:;">
                            <img src="../../Static/Image/shopClassify/shopPic.png" width="255" height="280" alt="">
                            <div class="shopExplain"><p class="shopName">Paris名媛睡袍</p><p class="money">¥239</p></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/jquery.ext.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/shopClassify/fashionClothe.js"></script>
</body>
</html>