<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/shopCart/index.css">
</head>
<body class="header footer">

    <div class="container">
        <!--  购物车为空   -->
        <div class="noCart hide">
            <div class="inner">
                <i class="noCartIcon"></i>
                <p class="noCartInfo">购物车空空如也</p>
                <a class="noCartBtn" href="javascript:void(0)">快来选购吧</a>
            </div>
        </div>
        <!--  购物车不为空   -->
        <div class="cartCon">
            <div class="cartOperation cf">
                <div class="checkDiv"><i class="check active"></i><span class="fl">全选</span></div>
                <div class="goodsInfoDiv">商品信息</div>
                <div class="unitPriceDiv">单价</div>
                <div class="numDiv">数量</div>
                <div class="totalDiv">小计</div>
                <div class="operateDiv">操作</div>
            </div>
            <div class="cartInfoBox">
                <div class="subCart cf" data-isExpire="1">
                    <div class="checkDiv"><i class="check active"></i></div>
                    <div class="goodsInfoDiv cf">
                        <img class="fl" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                        <p class="fl name">迪奥（Dior）</p>
                        <p class="fl instr">魅惑润唇膏烈艳蓝金999 3.5g</p>
                    </div>
                    <div class="unitPriceDiv">￥<span class="unitPriceMoney">279</span></div>
                    <div class="numDiv">
                        <div class="cart_num cf">
                            <div class="cart_min"></div>
                            <input class="cart_text_box" type="number" value="1" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                            <div class="cart_add"></div>
                        </div>
                    </div>
                    <div class="totalDiv">￥<span class="eachTotalMoney">279</span></div>
                    <div class="operateDiv cf">
                        <a class="addFavBtn" href="javascript:void(0)">移入收藏夹</a>
                        <a class="delBtn" href="javascript:void(0)">删除</a>
                    </div>
                </div>
                <div class="subCart cf" data-isExpire="0">
                    <div class="checkDiv"><i class="check active"></i></div>
                    <div class="goodsInfoDiv cf">
                        <img class="fl" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                        <p class="fl name">迪奥（Dior）</p>
                        <p class="fl instr">魅惑润唇膏烈艳蓝金999 3.5g</p>
                    </div>
                    <div class="unitPriceDiv">￥<span class="unitPriceMoney">279</span></div>
                    <div class="numDiv">
                        <div class="cart_num cf">
                            <div class="cart_min"></div>
                            <input class="cart_text_box" type="number" value="1" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                            <div class="cart_add"></div>
                        </div>
                    </div>
                    <div class="totalDiv">￥<span class="eachTotalMoney">279</span></div>
                    <div class="operateDiv cf">
                        <a class="addFavBtn" href="javascript:void(0)">移入收藏夹</a>
                        <a class="delBtn" href="javascript:void(0)">删除</a>
                    </div>
                </div>
                <div class="subCart cf" data-isExpire="1">
                    <div class="checkDiv"><i class="check active"></i></div>
                    <div class="goodsInfoDiv cf">
                        <img class="fl" src="../../Static/Image/goodsDetail/goodsLittle2.png" alt="">
                        <p class="fl name">迪奥（Dior）</p>
                        <p class="fl instr">魅惑润唇膏烈艳蓝金999 3.5g</p>
                    </div>
                    <div class="unitPriceDiv">￥<span class="unitPriceMoney">279</span></div>
                    <div class="numDiv">
                        <div class="cart_num cf">
                            <div class="cart_min"></div>
                            <input class="cart_text_box" type="number" value="1" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                            <div class="cart_add"></div>
                        </div>
                    </div>
                    <div class="totalDiv">￥<span class="eachTotalMoney">279</span></div>
                    <div class="operateDiv cf">
                        <a class="addFavBtn" href="javascript:void(0)">移入收藏夹</a>
                        <a class="delBtn" href="javascript:void(0)">删除</a>
                    </div>
                </div>
            </div>
            <div class="cartOrder cf">
                <div class="fl cf operationBox"><i class="check active fl"></i><span class="fl">已选（<span class="choseNum">0</span>）</span></div>
                <a class="fl batchDel" href="javascript:void(0)">批量删除</a>
                <a class="fl clearGoods" href="javascript:void(0)">清空时效商品</a>
                <a class="fr orderBtn" href="javascript:void(0)">下单</a>
                <p class="fr shouldPay">应付总额：<span class="col_red">￥<span class="factPayMoney"></span></span></p>
                <p class="fr couponPay">
                    优惠券：
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                    <span class="col_red">￥<span class="couponPayMoney">0</span></span>
                </p>
                <p class="fr lastPay">商品合计：￥<span></span></p>
            </div>
        </div>
        <!--  猜你喜欢  -->
        <div class="lovelyBox">
            <div class="tit">猜你喜欢</div>
            <div class="lovelyGoods slide-box">
                <ul class="slide-content cf">
                    <li class="fl subGoodsBox copy" data-num="10">
                        <div class="goodsBoxImgWrap"><img class="goodsBoxImg" src="../../Static/Image/common/goodsImg/goodsImg.png" alt=""></div>
                        <p class="goodsBoxName ofh">Paris名媛睡袍Paris名媛睡袍Paris名媛睡袍</p>
                        <p class="goodsBoxPrice">￥<span>239</span></p>
                    </li>
                </ul>
                <div class="slide-btns">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>
            </div>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/jquery.ext.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/shopCart/index.js"></script>
</body>
</html>