/* 列表 */
.mHome{margin-bottom: 0;}
.commonProblemUl{margin: .7rem 0;}
.commonProblemUl li a{width: 100%;font-size: .8rem;}
.commonProblem{padding: 0 .7rem;height: 2.4rem;line-height: 2.4rem;border-bottom: 1px solid #f4f4f4;color: #333;background: #fff;}


