/* 列表 */
.mHome{margin-bottom: 0;}
.detailTitle{height: 2.6rem;line-height:2.6rem;text-align: center;letter-spacing: 1px;border-bottom: 2px dashed #999;font-size: .8rem;font-weight: 600;color: #333;}
.commonProblemUl{margin-bottom:.7rem;}
.commonProblem{padding: .7rem 1.4rem;border-bottom: 2px dashed #999;font-size: .76rem;color: #333;}


