<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>搜索详情</title>
    <link rel="stylesheet" href="../../Static/Css/common/sm.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/search/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../../Static/Image/common/logo/logo1.png" alt="">
        </div>
    </div>

    <div class="page-group">

        <!-- 筛选类别 -->
        <div class="buttons-tab order-tab">
            <a href="#" class="tab-link active button">默认</a>
            <a href="#" class="tab-link button">热度</a>
            <a href="#" class="tab-link button"><span>新品</span></a>
            <a href="#" class="tab-link button priceSearch"><span>价格</span><span class="dib icon-array"></span></a>
        </div>

        <!--  筛选的商品   -->
        <div class="filterGoods">
            <div class="subModel">
                <ul class="bestBoxWrap cf">
                    <li class="subBest fl copy" data-num="10">
                        <img class="bestImg" src="../../Static/Image/common/goods/goods3.png" alt="">
                        <p class="bestName">Lancome兰蔻套装asdfasdfasdfasdfsd</p>
                        <p class="bestDetail">小黑瓶精华肌底液化妆品套装护肤组合女4件</p>
                        <p class="bestSale">已售 <span>1899</span></p>
                        <p class="bestPrice">￥1999</p>
                        <i class="lineBottom"></i>
                        <i class="lineRight"></i>
                    </li>
                </ul>
            </div>
            <div class="bottomBox">已经到底了...</div>
        </div>
    </div>


<script src="../../Static/Js/common/zepto.min.js"></script>
<script src="../../Static/Js/common/sm.min.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/search/common.js"></script>
</body>
</html>