<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商品详情</title>
    <link rel="stylesheet" href="../../Static/Css/common/sm.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/sm-extend.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/goodsDetail/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../../Static/Image/common/logo/logo1.png" alt="">
        </div>
    </div>

    <!--  页面    -->
    <div class="page-group">

        <!--  商品详情   -->
        <div class="goodsDetailBoxWrap bg_white">
            <div class="goodsImg">
                <div class="swiper-container" data-space-between='10'>
                    <div class="swiper-wrapper slide-banner_uc">
                        <div class="swiper-slide"><a href="" class="external"><img alt="" src="../../Static/Image/common/goods/goods3.png"></a></div>
                        <div class="swiper-slide"><a href="" class="external"><img alt="" src="../../Static/Image/common/goods/goods3.png"></a></div>
                        <div class="swiper-slide"><a href="" class="external"><img alt="" src="../../Static/Image/common/goods/goods3.png"></a></div>
                        <div class="swiper-slide"><a href="" class="external"><img alt="" src="../../Static/Image/common/goods/goods3.png"></a></div>
                        <div class="swiper-slide"><a href="" class="external"><img alt="" src="../../Static/Image/common/goods/goods3.png"></a></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!--<div class="goodsImgPageBox fr"><span class="imgIndexNum"></span><span> / </span><span class="imgTotalNum"></span></div>-->
            </div>

            <div class="goodsInfo">
                <div class="goodsPriceBox">
                    <p class="priceNow">￥1867</p>
                    <div class="sale cf">
                        <span class="fl priceLast">￥2240</span>
                        <span class="fr">已售 <span>10252</span></span>
                    </div>
                </div>
                <div class="goodsNameBox">
                    <div class="goodsNameContent cf">
                        <div class="goodsName fl">CNUTI 黄金项链 999足金满天星镂空套链星星系列锁骨链吊坠饰品</div>
                        <div class="favourite fr"></div>
                    </div>
                    <div class="goodsIntroduce">本商城向您保证所销售商品均为正品行货，本商城自营商品自带机打发票，与商品一起寄送。凭质保证书及本商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由本商城联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。本商城还为您提供具有竞争力的商品价格和运费政策，请您放心购买！</div>
                </div>
                <div class="goodsPostBox cf">
                    <div class="subGoodsPost">
                        <span class="fl">邮费：<span>￥8.00</span></span>
                        <span class="fr">由商城直接发货</span>
                    </div>
                    <div class="subGoodsPost">
                        <i class="getPost">享包邮</i>
                        <span>满888元包邮</span>
                    </div>
                    <div class="subGoodsPost cf">
                        <p class="fl promisePost"><i></i><span>正品保证</span></p>
                        <p class="fl promisePost"><i></i><span>7天包退</span></p>
                        <p class="fl promisePost"><i></i><span>闪电发货</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--  购买口碑   -->
        <div class="shopPraise bg_white">
            <div class="goodsTit">购买口碑</div>
            <div class="scoreBox">
                <div class="getScore fl cf">
                    <i class="fl star"><span style="width: 80%;"></span></i>
                    <span class="fl">4.89</span>
                </div>
                <div class="scorePeopleNum fr">1430名用户参与评分</div>
            </div>
            <div class="subPraise copy" data-num="2">
                <div class="headBox cf">
                    <img src="../../Static/Image/common/headImg/headImg.png" class="headImg fl" alt="">
                    <span class="headName fl">香*****菜</span>
                </div>
                <div class="praiseBox">很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦</div>
                <div class="praiseTime">04月02日</div>
            </div>
            <a href="../../View/goodsDetail/shopPraise.html" class="seeMore">查看更多 》</a>
        </div>

        <!--  商品详情  商品属性 用户答疑   -->
        <div class="goodsDetailBoxWrap bg_white cf " id="goodsDetailBox">
            <div class="goodsDetailTit cf fl">
                <p class="subGoodsDetailTit fl active"><a href="javascript:void(0)">商品详情</a></p>
                <p class="subGoodsDetailTit fl"><a href="javascript:void(0)">商品属性</a></p>
                <p class="subGoodsDetailTit fl"><a href="javascript:void(0)">用户答疑</a></p>
            </div>
            <div class="goodsDetailContent cf fl">
                <div class="subGoodsDetailCon fl">
                    <img src="../../Static/Image/goodsDetail/detail1.png" alt="">
                    <img src="../../Static/Image/goodsDetail/detail2.png" alt="">
                    <img src="../../Static/Image/goodsDetail/detail3.png" alt="">
                    <img src="../../Static/Image/goodsDetail/detail4.png" alt="">
                    <img src="../../Static/Image/goodsDetail/detail5.png" alt="">
                </div>
                <div class="subGoodsDetailCon fl hide cf">
                    <p class="subGoodProperty cf"><span class="propertyName">商品名称：</span><span class="propertyCon">CNUTI黄金项链999足金满天星镂空套链 星星系列的</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">商品编号：</span><span class="propertyCon">CG3X0060</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">品牌：</span><span class="propertyCon">粤通国际珠宝</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">上架时间：</span><span class="propertyCon">2017-08-18</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">商品毛重：</span><span class="propertyCon">5.490千克</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">库存：</span><span class="propertyCon">30</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">上市时间：</span><span class="propertyCon">2017年春夏</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">是否商场同款：</span><span class="propertyCon">商场同款（线上线下都销售）</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">售后服务：</span><span class="propertyCon">专柜联保 店铺保修</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">镶嵌材质：</span><span class="propertyCon">未镶嵌素金</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">图案/形状：</span><span class="propertyCon">五角星</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">贵金属成色：</span><span class="propertyCon">足金</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">鉴定证书：</span><span class="propertyCon">NGSTC证书</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">适用对象：</span><span class="propertyCon">女性</span></p>
                </div>
                <div class="subGoodsDetailCon fl hide">
                    <p class="subGoodProperty cf"><span class="propertyName">质保期：</span><span class="propertyCon">一年</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">售前/后服务电话：</span><span class="propertyCon">4000-825-999</span></p>
                    <p class="subGoodProperty cf"><span class="propertyName">品牌官方网站：</span><span class="propertyCon">http://www.cnuti.com</span></p>
                    <p class="longGoodProperty cf">
                        上架时间本商城向您保证所售商品均为正品行货，本商城自营商品自带机打发票，与商品一起寄送。凭质保证书及本商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由本商城联系修保，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。本商城还为您提供具有竞争力的商品价格和运费政策，请您放心购买！
                        注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
                    </p>
                </div>
            </div>
        </div>

        <!--  固定导航栏   -->
        <div class="cartFixBar cf">
            <a class="addCartNum fl" href="javascript:void(0)"><i><em class="cartNumEm">9</em></i></a>
            <a class="addCartBtn fl open-popup" href="javascript:void(0)">加入购物车</a>
            <a class="buyBtn fl open-popup" href="javascript:void(0)">立即购买</a>
        </div>

    </div>

    <!--  选择商品属性  -->
    <div class="popup popup-services">
        <div class="choseProperty">
            <div class="propertyBoxTop cf">
                <img src="../../Static/Image/common/goods/goods1.png" class="propertyImg fl" alt="">
                <div class="propertyNameBox cf fl">
                    <p class="fl propertyName">999足金天星镂空套链 金色</p>
                    <p class="fl"><span class="priceNow">￥1688</span><span class="pricePast">￥2234</span></p>
                </div>
                <i class="closeBtn close-popup fr"></i>
            </div>
            <div class="propertyParticular cf">
                <p class="propertyTit fl">色号</p>
                <div class="propertyCon fl cf">
                    <a class="propertyChose active" href="javascript:void(0)">银色</a>
                    <a class="propertyChose" href="javascript:void(0)">金色</a>
                </div>
            </div>
            <div class="propertyPost">
                <i class="getPost fl">享包邮</i>
                <p class="fl">满888元包邮</p>
                <p class="fr">邮费：￥<span>8.00</span></p>
            </div>
            <div class="choseNumBox cf">
                <p class="fl choseNumTit">选择数量</p>
                <div class="cart_num cf fr">
                    <input class="cart_min pull-left" type="button" value="-" disabled="disabled">
                    <input class="cart_text_box" id="quantity" type="number" value="1" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                    <input class="cart_add pull-right" type="button" value="+">
                </div>
            </div>
        </div>
        <div class="confirmBtn close-popup">确定</div>
    </div>

<script src="../../Static/Js/common/zepto.min.js"></script>
<script src="../../Static/Js/common/sm.min.js"></script>
<script src="../../Static/Js/common/sm-extend.min.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/goodsDetail/index.js"></script>
</body>
</html>