<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>购买口碑</title>
    <link rel="stylesheet" href="../../Static/Css/common/sm.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/goodsDetail/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../../Static/Image/common/logo/logo1.png" alt="">
        </div>
    </div>

    <!--  页面    -->
    <div class="page-group">
        <div class="shopPraise bg_white">
            <div class="scoreBox">
                <div class="getScore fl cf">
                    <i class="fl star"><span style="width: 80%;"></span></i>
                    <span class="fl">4.89</span>
                </div>
                <div class="scorePeopleNum fr">1430名用户参与评分</div>
            </div>
            <div class="subPraise copy" data-num="6">
                <div class="headBox cf">
                    <img src="../../Static/Image/common/headImg/headImg.png" class="headImg fl" alt="">
                    <span class="headName fl">香*****菜</span>
                </div>
                <div class="praiseBox">很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦很不错啦，喜欢啦</div>
                <div class="praiseTime">04月02日</div>
            </div>
        </div>
    </div>

<script src="../../Static/Js/common/zepto.min.js"></script>
<script src="../../Static/Js/common/public.js"></script>
</body>
</html>