<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的优惠券</title>
    <link rel="stylesheet" href="../../Static/Css/common/sm.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/welfare/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../../Static/Image/common/logo/logo1.png" alt="">
        </div>
    </div>

    <!-- content -->
    <div class="page-group">
        <div class="welfareTitle">
            <p class="fullCut">大额满减红包</p>
            <p class="available">多种品类可用</p>
        </div>

        <div class="welfareReceive">
            <span>您好，您已成功领取优惠券！</span>
            <a href="javascript:;">马上使用</a>
        </div>

        <ul class="welfareUl">
            <li class="cf copy" data-num="3">
                <span class="dateLeft fl">2018/4/12 - 2018/6/12</span>
                <div class="explainRight fr">
                    <span class="explainRightTitle">暖心优惠券</span>
                    <span class="explainRightMoney"><i>￥</i><i class="money">20</i></span>
                    <span class="explainRightTitle">满￥100使用</span>
                </div>
            </li>
        </ul>

    </div>

<script src="../../Static/Js/common/zepto.min.js"></script>
<script src="../../Static/Js/common/sm.min.js"></script>
<script src="../../Static/Js/common/public.js"></script>
</body>
</html>