<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>手电筒商城-登录</title>
    <meta name="description" content="手电筒商城">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/login/login.css">
</head>
<body>
    <div class="login">
        <!-- header -->
        <div class="header container cf">
            <a class="headerLogo fl" href="javascript:void(0);"><i></i></a>
            <ul class="explainUl fr">
                <li class="dib cf qualityGoods"><i class="fl"></i><span class="fl">正品保证</span></li>
                <li class="dib cf sevenDay"><i class="fl"></i><span class="fl">7天包退</span></li>
                <li class="dib cf express"><i class="fl"></i><span class="fl">闪电发货</span></li>
            </ul>
        </div>

        <!-- content -->
        <div class="content">
            <div class="loginContent pr">
                <img src="../../Static/Image/login/login/contentBg1.png" alt="">
                <!-- loginPopup -->
                <div class="loginPopup" id="loginPopup">
                    <div class="module container cf">
                        <form action="">
                            <div class="popup fr">
                                <div class="loginTit cf"><span>如果账号，请登录</span><a class="fr" href="register.html">免费注册</a></div>
                                <div class="eachInput">
                                    <input class="inputBox" type="text" maxlength="20" placeholder="手机号/用户名/邮箱">
                                </div>
                                <div class="eachInput pr">
                                    <input class="inputBox" type="password" maxlength="12" placeholder="密码">
                                    <i class="keyBoardIcon"></i>
                                </div>
                                <div class="operateLogin cf">
                                    <i class="isChose fl active"></i>
                                    <a class="rememberPwd fl">记住密码</a>
                                    <a href="forgetPwd.html" class="forgetPwd fr">忘记密码&gt;</a>
                                </div>
                                <a href="javascript:void(0)" class="btnLogin">登录</a>
                                <div class="third cf">
                                    <a class="thirdTitle fl">第三方登录</a>
                                    <i class="qq thirdIcon fl"></i>
                                    <i class="weChat thirdIcon fl"></i>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

            <div class="version">手店桶商城©2013-2018 360公司版权所有 京ICP备17017089号 京公网安备11000002000006号</div>
        </div>

    </div>

    <script src="../../Static/Js/common/jquery.js"></script>
    <script src="../../Static/Js/common/public.js"></script>
    <script src="../../Static/Js/login/login.js"></script>
</body>
</html>