body{background: #030000;}
.backBox{height: 2rem;padding: 0 .7rem;text-align: right;}
.backIcon{margin-top: .5rem;width: 1rem;height: 1rem;background: url(../../Image/login/close.png) no-repeat -1.3rem -.12rem;background-size: 4.28rem 1.22rem;}

/* logo */
.logo{text-align: center;padding: 0 0 .6rem;}
.logoImg{width: 3.5rem;height: 4.7rem;margin: .5rem 0;}

/* tap */
.tabBox{width: 100%;color:#333;border-bottom: 1px solid #f8b500;}
.eachTab{width:50%;height:2rem;line-height:2rem;font-size:.9rem;text-align:center;display: block;color:#fff;}
.eachTab.active{background: #f8b500;}

/* form */
.formBox{padding: 0 1.6rem;margin-top: 1rem;}
.formBoxWrap{border-bottom: 1px solid #abaaaa;height: 2.4rem;line-height: 2.4rem;}
.formBoxWrap i{width: 1.2rem;height: 1.2rem;display: block;}
.formBoxWrap .input{width: 100%;height: 2.4rem;line-height: 2.4rem;border: none;background: none;padding-left: 2.4rem;font-size: .8rem;color: #fff;caret-color:#f8b500;}
.account i{position: absolute;left: .4rem;top: .6rem;background: url(../../Image/login/login.png) no-repeat -.33rem -.33rem;background-size: 5rem 1.8rem;}
.pwd i{position: absolute;left: .4rem;top: .6rem;background: url(../../Image/login/login.png) no-repeat -3.43rem -.33rem;background-size: 5rem 1.8rem;}
.cardId i{position: absolute;left: .4rem;top: .7rem;background: url(../../Image/login/login.png) no-repeat -1.68rem -.33rem;background-size: 4.4rem 1.6rem;}

/* 手机注册 */
.formBoxWrap .formInput ,.formBoxWrap .btnCode{width: 50%;}
.formBoxWrap .btnCode{height:1.6rem;line-height: 1.6rem;width: 5rem;margin-top: .4rem;padding-left: 0;border-radius: 8px;text-align: center;background: #f8b500;color: #fff;}

.btnReg{display: block;border-radius: 8px;margin: 1.4rem 0 .4rem;height: 2.4rem;line-height: 2.4rem;font-size: .9rem;letter-spacing: 8px;text-align: center;background: #f8b500;color: #fff;}

/*  按钮和同意协议  */
.agreementBox{text-align: center;font-size:.8rem;color: #ccc;}
.agreementBox.active .agreement{color:#f8b500;}
.agreementBox.active .ChoseClick{background: url(../../Image/login/isChecked.png) no-repeat -.1rem -.1rem;background-size: 3.86rem 2.1rem;}
.ChoseClick{vertical-align: middle;width:.9rem;height:.9rem;background: url(../../Image/login/isChecked.png) no-repeat -1.1rem -.1rem;background-size: 3.86rem 2.1rem;}
.agreement{font-size: .65rem;vertical-align: middle;}






















