/* 列表 */
.mHome{margin-bottom: 0;}
.contactTitle{height: 2.6rem;line-height: 2.6rem;padding: 0 .7rem;margin: .8rem 0;background: #fff;}
.public ,.name{font-size: .8rem;color: #333;}

.contactUl li{padding: 0 .7rem;height: 2.6rem;line-height: 2.6rem;border-bottom: 1px solid #f4f4f4;background: #fff;}
.customer{width: 100%;}
.customer span{font-size: .8rem;color: #333;}













