<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>分类</title>
    <link rel="stylesheet" href="../../Static/Css/common/sm.min.css">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/classify/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../../Static/Image/common/logo/logo1.png" alt="">
        </div>
    </div>

    <!--  页面    -->
    <div class="page-group">

        <!--  类别   -->
        <div class="typeBoxWrap cf">
            <div class="typeBoxLeft fl">
                <ul>
                    <li class="subTypeName active">女装</li>
                    <li class="subTypeName">男装</li>
                    <li class="subTypeName">童装</li>
                    <li class="subTypeName">女鞋</li>
                    <li class="subTypeName">男鞋</li>
                    <li class="subTypeName">内衣配饰</li>
                    <li class="subTypeName">美妆个护</li>
                    <li class="subTypeName">钟表珠宝</li>
                    <li class="subTypeName">手机数码</li>
                    <li class="subTypeName">电脑办公</li>
                    <li class="subTypeName">家用电器</li>
                    <li class="subTypeName">食品生鲜</li>
                    <li class="subTypeName">酒水饮料</li>
                    <li class="subTypeName">运动户外</li>
                    <li class="subTypeName">汽车用品</li>
                    <li class="subTypeName">家居厨具</li>
                    <li class="subTypeName">家具家装</li>
                    <li class="subTypeName">医药保健</li>
                    <li class="subTypeName">计生情趣</li>
                    <li class="subTypeName">礼品鲜花</li>
                    <li class="subTypeName">玩具乐器</li>
                    <li class="subTypeName">农资绿植</li>
                    <li class="subTypeName">房产</li>
                </ul>
            </div>
            <div class="typeBoxContent fl">
                <img class="bannerImg" src="../../Static/Image/classify/bannerBg.png" alt="">
                <div class="subClassifyBox">
                    <div class="classifyTit">热销推荐</div>
                    <div class="classifyContent">
                        <ul class="cf">
                            <li class="subClassify cf fl copy" data-num="6">
                                <img class="classifyImg" src="../../Static/Image/common/goods/goods1.png" alt="">
                                <p class="classifyName">时尚饰品阿斯蒂芬</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="subClassifyBox">
                    <div class="classifyTit">热销推荐</div>
                    <div class="classifyContent">
                        <ul class="cf">
                            <li class="subClassify cf fl copy" data-num="6">
                                <img class="classifyImg" src="../../Static/Image/common/goods/goods1.png" alt="">
                                <p class="classifyName">时尚饰品阿斯蒂芬</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="subClassifyBox">
                    <div class="classifyTit">热销推荐</div>
                    <div class="classifyContent">
                        <ul class="cf">
                            <li class="subClassify cf fl copy" data-num="6">
                                <img class="classifyImg" src="../../Static/Image/common/goods/goods1.png" alt="">
                                <p class="classifyName">时尚饰品阿斯蒂芬</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="subClassifyBox">
                    <div class="classifyTit">热销推荐</div>
                    <div class="classifyContent">
                        <ul class="cf">
                            <li class="subClassify cf fl copy" data-num="6">
                                <img class="classifyImg" src="../../Static/Image/common/goods/goods1.png" alt="">
                                <p class="classifyName">时尚饰品阿斯蒂芬</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-index" href="../../View/index/index.html">
                <span class="icon"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external footTap-classify active" href="../../View/classify/index.html">
                <span class="icon"></span>
                <span class="tab-label">分类</span>
            </a>
            <a class="tab-item external footTap-shoppingCart" href="../../View/shoppingCart/index.html">
                <span class="icon"></span>
                <span class="tab-label">购物车</span>
            </a>
            <a class="tab-item external footTap-center" href="../../View/personalCenter/index.html">
                <span class="icon"></span>
                <span class="tab-label">我的</span>
            </a>
        </nav>
    </div>

<script src="../../Static/Js/common/zepto.min.js"></script>
<script src="../../Static/Js/common/sm.min.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/classify/index.js"></script>
</body>
</html>